<!DOCTYPE html>
<html>
<head>
  <title>Shrtbred</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Grayscale - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
</head>
<!-- <body> -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<%= render 'layouts/nav' %>

    <!-- Intro Header -->
    
                
                    
                        
  <%= yield %>

                  
                
            

    
    <!-- </section> -->

  
    
    <%= render 'layouts/footer' %>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <!-- // <script src="js/bootstrap.min.js"></script> -->

    <!-- Plugin JavaScript -->
    <!-- // <script src="js/jquery.easing.min.js"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

</body>
</html>
