<!DOCTYPE html>
<html>
<head>
  <title>shrtb.red</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="URL shortener with delicious cookies">
    <meta name="description" content="URL shortener bit.ly tinyurl tiny.cc make links dessert cookie">
    <meta name="author" content="Ben Serviss">
      <!-- Facebook -->
    <meta property="og:url" content="http://www.shrtb.red" />
    <meta property="og:title" content="shrtb.red, a url shortener good enough to eat" />
    <meta property="og:site_name" content="shrtb.red" />
    <meta property="og:description" content="Finally, you can shorten links and look at cookies all at the same time." />
    <meta property="og:image" content="http://www.shrtb.red/shortbread.png" />
    <meta property="og:type" content="website" />


    <!-- Custom Fonts -->

    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
</head>
<body id="page-top" >

<%= render 'layouts/nav' %>
  <%= yield %>
<%= render 'layouts/footer' %>

</body>
</html>
